{% extends "blog/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" img src="/media/Zigi.jpeg">
        <div class="media-body">
          <h2 class=" border-bottom mb-4 account-heading">Suraj Kumar</h2>
          <p class="text-primary">surajknite@gmail.com</p>
        </div>
      </div>
      <!-- FORM HERE -->
      <form method ="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <fieldset class = "form-group">
             <legend class = "border-bottom mb-4">About</legend>
             <p class="text-secondry">A freshman graduated recently having a keen interest in Software Development. 
                Actively looking for an opportunity to contribute to an organization and also acquire skills in doing so.</p>
                <legend class = "border-bottom mb-4">Projects made on </legend>
                <strong>Android app Development</strong>  
                  <p>1: Android App for attendance monitoring
                    <ul>* Technologies used:</ul>
                      Android Studio, Google maps, Google firebase
                      Google maps APIs, Google Firebase database
                * Android App for attendance monitoring. </p>
                <p>* Technologies used: Android, Google maps, Google firebase.*Google maps APIs. *Google Firebase database.</p>
                </p></li> 
                <pre>2. Django Web Development Framework </pre>
         </fieldset>
         <div class = "form-group">
             <button class = "btn btn-outline-info" type = "submit">Update</button>
         </div> 
     </form> 
    </div>
{% endblock content %}