{% extends "blog/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" img src="/media/Zigi.jpeg">
        <div class="media-body">
          <h2 class=" border-bottom mb-4 account-heading">Suraj Kumar</h2>
          <p class="text-primary">surajknite@gmail.com</p>
        </div>
      </div>
      <!-- FORM HERE -->
      <form method ="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <fieldset class = "form-group">
             <legend class = "border-bottom mb-4">About</legend>
             <p class="text-secondry">A freshman graduated recently having a keen interest in Software Development. 
                Actively looking for an opportunity to contribute to an organization and also acquire skills in doing so. 
                <legend class = "border-bottom mb-4">Projects made on </legend>
                <p>1. Android Application Development </p>
                * Android App for attendance monitoring. * Technologies: Android, Google maps, Google firebase.*Implemented the Google maps APIs. *Implemented Google Firebase database.
                <p>2. Django Web Development Framework </p>
         </fieldset>
         <div class = "form-group">
             <button class = "btn btn-outline-info" type = "submit">Update</button>
         </div> 
     </form> 
    </div>
{% endblock content %}